@font-face {
    font-family: 'Anakotmai-Medium';
    src: url("../fonts/anakotmai-medium.woff");
}

@font-face {
    font-family: 'Anakotmai-Light';
    src: url("../fonts/anakotmai-light.woff");
}

body {
    font-family: 'Anakotmai-Light';
}

body.login-page {
    background-image: linear-gradient(to bottom left, #f47932, #fe5c23);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body.home {
    background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),url(../images/itkmitl-building.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.footer-logo {
    margin-bottom: 1rem;
}

footer.selection {
    position: absolute;
    left: 0;
    bottom: 0px;
    min-width: 100%;
    width: auto;
    z-index: 1;
  }

.anakotmai-medium-text {
    font-family: 'Anakotmai-Medium';
}

.anakotmai-medium-text.orange {
    color: #f47932;
}

.anakotmai-medium-text.white {
    color: #ffffff;
}

.anakotmai-light-text {
    font-family: 'Anakotmai-Light';
}

.anakotmai-light-text.orange {
    color: #f47932;
}

.w-25 {
    width: 25vw;
}

.w-50 {
    width: 50vw;
}

.w-75 {
    width: 75vw;
}

.w-100 {
    width: 100vw;
}

.h-25 {
    height: 25vh;
}

.h-50 {
    height: 50vh;
}

.h-75 {
    height: 75vh;
}

.h-80 {
    height: 80vh;
}

.h-85 {
    height: 85vh;
}

.h-90 {
    height: 90vh;
}

.h-95 {
    height: 95vh;
}

.h-100 {
    height: 100vh;
}